body {
  text-align: center;
  background-color: #2B2E4A ;
  /* #283149; */
}

h1 {
  font-size: 6rem;
  color: #DBEDF3;
  font-family: 'Cinzel';
  /* font-weight: ExtraBold 800 ; */
  /* font-family: "Arvo", cursive; */
  text-shadow: 3px 0 #C06C84;
  /* #DA0463;  */
  margin: 1% auto ;
  width: auto;
  padding-top: 3%;
  line-height: 1.5;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
background-image: url("images/crash.png");
}

.a {
background-image: url("images/kick.png");
}

.s {
background-image: url("images/snare.png");
}

.d {
background-image: url("images/tom1.png");
}

.j {
background-image: url("images/tom2.png");
}

.k {
background-image: url("images/tom3.png");
}

.l {
background-image: url("images/tom4.png");
}

.set {
  margin: 13% auto;
  padding-left: 3%;
  padding-right: 3%;

}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #EAFFD0 ;
   /* #404B69; */
  font-size: 4rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #311D3F;
  /* #DA0463; */
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;

}

.image{
  margin-top: 1%;
  width: 1.5rem;
  height: 1.5rem;
}
.image1{
  margin-left: 1%;
  margin-top: 1%;
  width: 1.5rem;
  height:1.5rem;
  /* border-radius: 50%; */
}
.drums{
position: relative;
bottom: 5px;

}
.social{
  margin-bottom: 3%;
}
